title Hasher
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
script(src="https://unpkg.com/vue/dist/vue.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
style.
    .has-no-background {
        background-color: transparent;
        border: solid 1px #3a3939;
    }
    .mx-w {
        max-height: calc(100vh - 150px);
    }
    .center {
        margin: 0 auto;
    }
    .c-pointer {
        cursor: pointer;
    }
    .pgrs-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        z-index: 9999;
    }
    .video-modal {
        height: 100vh;
        width: auto;
    }