@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, .v-application, body .v-application {
  font-family: 'Ubuntu', sans-serif;
}

.icon-mini {
  width: 14px;
  margin-right: 10px;
}

.icon-brand {
  width: 40px;
}

.m-auto {
  margin: auto;
}
